.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 100px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* set a height for the container */
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    border-radius: 30%;
    /* create a circular border */
    border: 1px solid black;
}

.text {
    color: white;
    font-size: 30px;
    font-weight: bold;
}



.form {
    display: flex;
    flex-direction: column;
    background-color: #94b7e9;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

.Inputs {
    display: grid;
    grid-template-columns: 150px 270px;
    grid-gap: 8px;
    padding: 10px;
}

.NameLabel,
.emailLabel,
.phoneLabel,
.passLabel {
    display: contents;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 18px;
}

.NameInput,
.emailInput,
.phoneinput,
.passinput {
    width: 80%;
    padding: 2px;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid black;
    transition: border-color 0.3s ease-in-out;
}

.submitButton {
    margin: 20px;
    background-color: #0077ff;
    color: #fff;
    padding: 1px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
    background-color: #005cff;
}

.newreg1 {
    background-color: #68635c;
    color: #fff;
    padding: 1px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.newreg1:hover {
    background-color: #35332f;
}